body{
  font-family:'Open Sans', 'serif';
  padding-top:0;
  color:#808080
  }

h1, p {
  color: white;
}

#select {
  margin: 0 30px;
}

.linebreak {
  background-color: #ff6430;
  height: 3px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.introbox {
  min-height: 100px;
  max-height: 100%;
  border: 2px solid black;
  margin: 5px;
  
}

.introbox h1 {
  text-align: center;
  margin: 1rem;
}

.introbox p {
  text-align: center;
}

.ib-2 {
  text-align: center;
}

.greybox {
  background-color: #F8F8F8;
  margin: 20p
}

#skillstext {
  width: 80px;
  max-width: 100%;
  margin: 0 auto;

}



.experiencegreybox {
  height: 830px;
  max-height: 100%;
  margin: 5px auto;
}





.imageworkbox {
  height: 234px;
  max-height: 100%;
  width: 234px;
  max-width: 100%;
  border: 2px solid black;
  margin: 10px 0;

}





.textworkbox {
  height: 234px;
  max-height: 100%;
  width: 800px;
  max-width: 100%;
  border: 2px solid black;
  margin: 12px 0;

}
.skillsgreybox {
  height: 525px;
  max-height: 100%;
}

.blackbox {
  background-color: #3330ff;
}





.picture {
  background-color: #3330ff;
  min-height: 185px;
  max-height: 100%;
  max-width: 100% 
  object-fit: contain;
  margin: 10px auto;
}

#alanpic {
  height: 180px;
  max-height: 100%;
  width: 180px;
  max-width: 100%;
  border:.5rem solid #232426;
  margin: 0 auto;
  
}

.alanpic {
  width: 190px;
  max-width: 100%;
  margin: 0 auto;
}

.img-circle {
  border-radius: 50%;
}

.bottomofpic {
  height: 300px;
  max-height: 100%;
  background-color: yellow;
}

.fab {
  margin: 5px 10px;

}

.contactbox {
  border: 2px solid black;
  width: 230px;
  max-width: 100%;
  margin: 0 auto;
}

.fa-ul li {
  margin: 10px auto;
}

.fa-front {
  margin: 0 50px;
}

.skillsbox {
  height: 150px;
  width: 100px;
  border: 2px solid black;
  margin: 10px 0;
}

.innerskillsbox {
  width: 800px;
  max-width: 100%;
  margin: 0 auto;

}

.innerskillsbox2 {
  width: 600px;
  max-width: 100%;
  margin: 0 auto;

}

.hero {
  margin: 20px 0;
}
