@import "3-modules/mixins"




.greybox
	background-color: #EFEFEF
	margin: 30px auto

	@include for-phone-only
		margin: 0
		width: 100%

.hero
	margin-bottom: 30px
	/*border: 2px solid black*/
	min-height: 550px
	max-height: 100%
	width: 100%
	background-color: #2D79E6



.introbox
	min-height: 100px
	max-height: 100%
	margin: 5px

	h1, h5
		text-align: center
		margin: 1rem
		color: white
	p
		text-align: center
		color: white


.firstprojectbox
	padding-left: 15px
	padding-right: 15px

.proj-rowbox 
	margin: 20px

.bottomofpic 
	height: 200px
	max-height: 100%
	/*border: 2px solid black*/

.picture 
	min-height: 185px
	max-height: 100%
	max-width: 100%
	object-fit: contain
	margin: 10px auto

.alanpic 
	width: 190px
	max-width: 100%
	margin: 0 auto

.ib-1
	h5
		font-size: 24px

		@include for-tablet-portrait-down
			font-size: 18px

.ib-2 
	text-align: center
	min-height: 50px
	max-height: 100%
	margin: 0
	padding-top: 0

	@include for-phone-only
		margin: 10px 0
	a
		@include for-phone-only
			margin: 0 20px


.ib-3 
	/*color: #ffcb30*/
	width: 780px
	max-width: 100%
	margin: 10px auto
	padding-bottom: 20px
	/*border: 2px solid black*/
	line-height: 1.6

	p
		font-size: 18px
		text-align: justify
		text-justify: inter-word
		text-indent: 50px

		@include for-phone-only
			width: 400px
			max-width: 100%
			margin: 0 auto
			font-size: .8em

		@include between-phone-and-tablet-portrait
			width: 500px
			max-width: 100%
			margin: 0 auto
			font-size: 1em

		@include between-tablet-and-landscape
			margin: 10px auto
			width: 580px
			max-width: 100%
			font-size: 1em


.contactbox 
	width: 230px
	max-width: 100%
	margin: 0 auto
	color: #ffcb30
	border: 2px solid black

.proj-rowbox
	@include for-tablet-portrait-down
		display: none

.projectbox 
	min-height: 575px
	max-height: 100%
	margin: 30px auto
	padding: 20px

.project-title 
	/*border: 2px solid black*/
	font-family: "Roboto"

.firstprojectbox 
	/*border: 2px solid black*/
	margin: 10px auto
	padding-left: 20px
	padding-right: 20px

.projectpicture 
	min-width: 100px
	/*border: 2px solid black*/

	@include for-tablet-portrait-down
		padding: 20px 0

.innerprojectpicture
	/*border: 2px solid black*/
	width: 157px
	max-width: 100%
	margin: 0 auto
	object-fit: contain

	@include for-phone-only
		width: 100px

.project-textbox 
	/*border: 2px solid black*/
	padding-top: 20px
	line-height: 1.6

	@include for-tablet-portrait-down
		padding: 20px 0



.innerproject-textbox 
	/*border: 2px solid black*/
	margin: 5px

	@include for-tablet-portrait-down
		padding-top: 15px

	@include for-phone-only
		padding-top: 0

	p 
		font-size: 14px

		@include for-tablet-portrait-down
			font-size: 12px

.iconbox 
	min-width: 50px
	max-width: 100%
	margin: 10px auto
	/*border: 2px solid black*/
	text-align: center

.icon-text 
	/* border: 2px solid black */
	margin: 10px auto
	text-align: center

.exp-rowbox 
	margin: 20px 0

.experiencegreybox 
	min-height: 830px
	max-height: 100%
	margin: 5px auto
	padding: 20px

.experiencebox 
	/*border: 2px solid black*/
	/*background-color: #3DA5D9*/
	@include for-phone-only
		display: none

	@include between-phone-and-tablet-portrait
		min-height: 250px
		margin: 20px 0


.innerexp-box 
	/*border: 2px solid black*/
	margin: 20px auto

.imagework-box 
	height: 234px
	max-height: 100%
	width: 234px
	max-width: 100%
	/*border: 2px solid black*/
	margin: 10px auto

	@include for-phone-only
		display: none


.textworkbox 
	height: 250px
	max-height: 100%
	width: 800px
	max-width: 100%
	/*border: 2px solid #001A5C*/
	margin: 12px 0
	/*background-color: #3DA5D9*/
	line-height: 1.6

	@include for-phone-only
		width: 400px
		margin: 0 auto


.skillsgreybox 
	min-height: 425px
	max-height: 100%
	margin: 30px auto
	padding: 20px


.worktitle 
	padding: 5px
	margin: 5px
	/*border: 2px solid black*/
	height: 100px
	max-height: 100%
	/*background-color: #3DA5D9*/

	h5, p 
		margin: 5px
		color: black

.workdescription 
	margin: 10px 5px
	padding: 10px
	/*border: 2px solid black*/
	height: 125px
	max-height: 100%
	/*background-color: #3DA5D9*/

	p
		font-size: 15px
		text-align: justify
		text-justify: inter-word
		text-indent: 50px

		@include for-phone-only
			font-size: 12px

.title-text 
	/*border: 2px solid black*/

	h3
		margin: 10px 60px
		padding-top: 10px

		@include for-phone-only
			font-size: 22px
	h5
		margin: 20px 0 10px 130px

.nextbox 
	margin: 20px 10px 0 10px

	@include for-phone-only
		display: none

.skillsbox 
	height: 120px
	max-height: 100%
	width: 80px
	max-width: 100%
	/* border: 2px solid black */
	margin: 10px 0

.innerskillsbox 
	width: 800px
	max-width: 100%
	margin: 0 auto

.innerskillsbox2 
	width: 600px
	max-width: 100%
	margin: 0 auto

.interestbox 
	min-height: 500px
	max-height: 100%
	padding: 20px

.educationbox 
	min-height: 300px
	max-height: 100%
	margin: 30px auto
	padding: 20px

.eb-2
	@include for-phone-only
		min-height: 300px
		margin: 10px 0

	@include bigger-than-phone
		display: none

.ed-head 
	height: 150px
	max-height: 100%
	/*border: 2px solid black*/
	padding: 10px

	h5 
		text-align: center

.personalhero
	/*border: 2px solid black*/

	figcaption
		width: 670px
		max-width: 100%
		margin: 0 auto

		p
			font-size: 1.1em

.small-pic
	figcaption
		width: 400px
		max-width: 100%
		margin: 0 auto
		line-height: 1.2

		p
			font-size: 1.1em


.halfdome-hero
	max-width: 1000px
	margin: 20px auto
	/*border: 2px solid black*/


.img-captionbox
	/*border: 2px solid black*/
	max-width: 500px
	margin: 20px auto


.ed-small-box
	margin: 10px 100px


.ed-pic 
	height: 100px
	max-height: 100%
	/*margin: 0 auto*/
	margin-top: 20px

.ateneo
	/*border: 2px solid black*/
	width: 230px
	max-width: 100%
	margin-left: 40px
	margin-top: 20px
	line-height: 20px

.udacity
	/*border: 2px solid black*/
	width: 300px
	max-width: 100%
	margin-left: 70px
	margin-top: 20px
	line-height: 20px

.for-phone-only-box
	@include bigger-than-phone
		display: none

.tablet-portrait-down-projects
	@include for-tablet-portrait-up
		display: none

.pro-box
	color: #001A5C

	&:hover
		color: #2D79E6







