
.greybox
	background-color: #F8F8F8
	margin: 30px auto

.hero
	margin: 5px auto
	background-image: url(images/blue4.jpg)

.introbox
	min-height: 100px
	max-height: 100%
	margin: 5px

	h1, h2
		text-align: center
		margin: 1rem
		color: white
	p
		text-align: center
		color: white


.eagle-box 
	width: 60px
	max-width: 100%
	margin: 0
	float: left

.nav-container 
	margin: 0 auto
	width: 1100px
	display: inline-block

.proj-rowbox 
	margin: 20px

.bottomofpic 
	height: 200px
	max-height: 100%
	border: 2px solid black

.picture 
	min-height: 185px
	max-height: 100%
	max-width: 100%
	object-fit: contain
	margin: 10px auto

.alanpic 
	width: 190px
	max-width: 100%
	margin: 0 auto

.ib-2 
	text-align: center
	min-height: 50px
	max-height: 100%
	margin: 0
	padding-top: 0

.ib-3 
	color: #ffcb30
	border: 2px solid black

.contactbox 
	width: 230px
	max-width: 100%
	margin: 0 auto
	color: #ffcb30
	border: 2px solid black


.projectbox 
	min-height: 575px
	max-height: 100%
	margin: 30px auto
	padding: 5px

.project-title 
	/*border: 2px solid black*/

.firstprojectbox 
	/*border: 2px solid black*/
	margin: 10px auto

.projectpicture 
	min-width: 100px
	/*border: 2px solid black*/

.innerprojectpicture 
	/*border: 2px solid black*/
	min-width: 200px
	margin: 0 auto
	object-fit: contain

.project-textbox 
	/*border: 2px solid black*/


.innerproject-textbox 
	/*border: 2px solid black*/
	margin: 5px

	p 
		font-size: 14px

.iconbox 
	min-width: 50px
	max-width: 100%
	margin: 10px auto
	/*border: 2px solid black*/
	text-align: center

.icon-text 
	/* border: 2px solid black */
	margin: 10px auto
	text-align: center

.exp-rowbox 
	margin: 20px 0

.experiencegreybox 
	min-height: 830px
	max-height: 100%
	margin: 5px auto
	padding: 5px

.experiencebox 
	/*border: 2px solid black*/
	background-color: #86BBD8

.innerexp-box 
	/*border: 2px solid black*/
	margin: 20px auto

.imagework-box 
	height: 234px
	max-height: 100%
	width: 234px
	max-width: 100%
	/*border: 2px solid black*/
	margin: 10px auto


.textworkbox 
	height: 250px
	max-height: 100%
	width: 800px
	max-width: 100%
	border: 2px solid #001A5C
	margin: 12px 0

.skillsgreybox 
	min-height: 425px
	max-height: 100%
	margin: 5px auto

.worktitle 
	padding: 5px
	margin: 5px
	/*border: 2px solid black*/
	height: 100px
	background-color: white

	h5, p 
		margin: 5px

.workdescription 
	margin: 10px 5px
	padding: 10px
	/*border: 2px solid black*/
	height: 125px
	overflow: scroll
	text-indent: 10%
	background-color: white

.title-text 
	/*border: 2px solid black*/

	h3 
	margin: 10px 40px
	padding-top: 10px

.nextbox 
	margin: 20px 10px 0 10px

.skillsbox 
	height: 120px
	width: 80px
	/* border: 2px solid black */
	margin: 10px 0

.innerskillsbox 
	width: 800px
	max-width: 100%
	margin: 0 auto

.innerskillsbox2 
	width: 600px
	max-width: 100%
	margin: 0 auto

.interestbox 
	min-height: 500px
	max-height: 100%


.footer 
	background-color: blue

	



















