#eagle
	margin: 0 auto

#navbarNavAltMarkup 
	width: 1000px
	margin: 10px auto

#select
	margin: 0 30px

#fullname
	font-family: "Work Sans"
	font-size: 4em
	font-weight: 400
	text-transform: uppercase
	color: #ffcb30

#alanpic 
	height: 180px
	max-height: 100%
	width: 180px
	max-width: 100%
	border: .5rem solid #232426
	margin: 0 auto

#skillstext 
	width: 80px
	max-width: 100%
	margin: 0 auto
	border: 2px solid black