.eagle-box 
	width: 60px
	max-width: 100%
	/*float: left*/
	border: 2px solid black
	margin: 0 30px

.empty-box
	border: 2px solid black
	height: 50px
	width: 230px
	max-width: 100%

.nav-container 
	margin: 0 auto
	width: 800px
	display: inline-block
	/*display: flex*/
	/*border: 2px solid black*/

.footer 
	background-color: #3185FC
	height: 80px
	width: 100%
	bottom: 0

#navbarNavAltMarkup 
	width: 900px
	margin: 10px auto
	border: 2px solid black

.navbar-nav
	width: 935px
	max-width: 100%
	/*margin: 0 auto*/

.navbar
	background-color: #ffcb30
