.linebreak 
	background-color: #001A5C
	height: 3px
	margin: 0 auto
	max-width: 95%

.workbreak
	background-color: grey
	height: 1px
	margin: 10px auto
	max-width: 87%

.projectbreak 
	background-color: grey
	height: 1px
	margin: 5px 0
	max-width: 80%

#walmartbreak
	background-color: grey
	height: 1px
	margin: 5px 0
	max-width: 50%

#googlebreak
	background-color: grey
	height: 1px
	margin: 5px 0
	max-width: 60%

#morganbreak
	background-color: grey
	height: 1px
	margin: 5px 0
	max-width: 65%


.school-linebreak 
	background-color: #001A5C
	height: 1px
	margin: 10px auto
	max-width: 60%


.img-circle 
	border-radius: 50%
	border: 2px solid #fe7f2d

.schoologo 
	height: 100px
	width: 100px
	max-width: 50%
	margin: 0 auto
	margin-top: 20px
	/*border: 2px solid black*/

	img 
		max-width: 100%
		height: auto

/* Icons */
.fab 
	margin: 5px 10px

.fa-ul 
	li 
		margin: 10px auto

.fa-front 
	margin: 0 auto


